@charset "utf-8";

body {
  margin: 0;
}

.whole {
  width: 100vw;
  height: 100vw;
  background-color: #333;
  text-align: center;
}

.whole .title {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  color: #fff;
}

.display {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

#form input[type='number'] {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  width: 10%;
  padding: 10px 2px;
}

.btnGroup {
  width: 15%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.btnGroup form [type='submit'] {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #333;
  color: #fff;
  box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* 0 0 42px #0fa, */
    /* 0 0 82px #0fa, */
    /* 0 0 92px #0fa, */
    0 0 102px #0fa,
    0 0 151px #0fa;

}